.card {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  max-height: 88px;
  background-color: #FFFFFF;
  padding: 20px 16px 19px;
  box-shadow: 0px 0px 5px #00000033;
  border-radius: 4px;
  margin-bottom: 8px;
}



@media screen and (max-width: 690px) {
  .card  {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
  }

  .card-body {
    display: none;
  }
}